@import "../../scss/variables";

.button {
    padding: 14px 40px;

    color: $blue;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    border: 1px solid $gray;
    border-radius: 3px;
    
    cursor: pointer;
    outline: none;
    //user-select: none; // To test autoprefixer

    &:hover {
        color: #fff;

        background: $blue;
        border: 1px solid $blue;
    }

    &_blue {
        color: #fff;

        background-color: $blue;
    }
}