.button {
    outline: none;
    border: 1px solid #e0e0e0;
    color: $blue;
    padding: 14px 40px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background: $blue;
        border: 1px solid $blue;
        color: #fff;
    }

    &-blue {
        color: #fff;
        background-color: $blue;
    }
}