include ../button/button

mixin plan(options)
    -
        var priceClassName = "plan__price"
        priceClassName += options.isBusiness ? " plan__price_business" : ""
        var titleClassName = "plan__title"
        titleClassName += options.isBusiness ? " plan__title_business" : ""
        var countClassName = "plan__price-count"
        countClassName += options.isBusiness ? " plan__price-count_business" : ""
    .plan
        div(class = titleClassName)= options.title
        div(class = priceClassName)
            span(class = countClassName)
                em $ 
                span= options.price
            small(class = "plan__period")= "/per month"
        div(class = "plan__description")
            p
                | Fusce fermentum placerat magna ac pharetra.
                | Aliquam euismod elit non ipsum 
                a(class = "plan__description-link", href="#")= "lacinia "
                | consectetur.

            .plan__button
                +button({title: "Order Now", isBlue: options.isBusiness})

            //if options.photo
                img(src = require("../components/plan/img/" + options.photo), alt = "photo")