include ../components/plan/plan

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Пример страницы
        meta(name="description" content="A description of the page")
        meta(name="keywords" content="keyword 1, keyword 2, keyword 3")

    body
        .wrapper
            +plan({title: "free", price: 0})
            +plan({title: "personal", price: 25})
            +plan({title: "business", price: 50, isBusiness: true})
            //+plan({title: "business", price: 50, isBusiness: true, photo: "plan.png"})
            +plan({title: "ultimate", price: 99})